@charset "UTF-8";



#botonCompra {
  float: right;
  /*height: 5vh;
  width: 20vh;*/
}

#billetera {
  width: auto;
  justify-content: center;
}

#footer {
  margin-top: 20px;
  margin-left: 100px;
  cursor: pointer;
}

#cajaPruebas {
  position: absolute;
  border: 1px dashed red;
  width: 5vh;
  height: 10vh;
  }

#ganamasuno {
  position: absolute;
  }


html {

}

img {
  max-width: 100%;
  max-height: 100%;
  }

.image-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
  }

.image-wrapper.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  }


body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /*text-align: ????;*/
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  }

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  }

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
  }

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
  }

h5, .h5 {
  font-size: 1.25rem;
  }

h6, .h6 {
  font-size: 1rem;
  }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  }

button {
  border-radius: 0;
  cursor:pointer;
  font-family: inherit;
  font-size: inherit;
  max-height: 100%;
  }


small, .small {
  font-size: 0.875em;
  }

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d;
  }

ul { padding-left: 0;
max-height: 100%;
  }

li {
  max-height: 100%;
  vertical-align: middle;
  }

.enceluno {
  display: none;
}

@media only screen and (max-width:768px){
.enceluno {
  text-align: justify;
  color: #fff;
  font-family: monospace;
  background-color: #212529;
  border-radius: 0.3rem;
  position: absolute;
  top: 0%;
  display: block;
  width: 98%;
  height: 110%;
  }
.enceluno > h1 {
  padding: 0.1% 5%;
  font-size: 1.5em;
  }
/* header{position:fixed;display:none;z-index:999;animation:none;bottom:0;height:100%}
 #lead{position:relative;height:20vh;min-height:200px;max-height:70vh;background:url(../images/lead-bg.jpg);background-size:100%; background-repeat:no-repeat;padding:15px;overflow:hidden}
 #lead-content h1{font-size:2em}
 #lead-content h2{font-size:1.3em}
 #lead-content a{padding:10px 20px}
 #lead-down{display:none;}*/}

@media only screen and (max-width: 480px){
  .enceluno {
    text-align: justify;
    color: #fff;
    font-family: monospace;
    background-color: #212529;
    border-radius: 0.3rem;
    position: absolute;
    top: 0%;
    display: block;
    width: 98%;
    height: 110%;
  }
  .enceluno > h1 {
    padding: 0.1% 5%;
    font-size: 1.5em;
  }
/* #lead{position:relative;height:20vh;min-height:20vh;max-height:70vh;background:url(../images/lead-bg.jpg);background-size:100%; background-repeat:no-repeat;padding:15px;overflow:hidden}
 #lead-content h1{font-size:1.5em}
 #lead-content h2{font-size:1em}
 #lead-content a{font-size:0.9em;padding:5px 10px}
#lead-down{display:none;}*/}

.alter {
    padding: 1%;
    color: #fff;
    font-family: monospace;
    font-size: 1.1em;
    background-color: #212529;
    border-radius: 0.3rem;
  }


.general {
  display:flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1%;
  }

.generalb {
  display: flex;
  align-items: flex-start;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1%;
  }

.generalc {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1%;
  padding-bottom: 1%;
  }

.especial {
  min-height: 80vh;
  padding-left: 1.5%;
  width: 94%;
  height: inherit;
  margin-left: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 5%;
  border: 0.5px solid #000;
  border-radius: 1%;
  transition-duration: 0.4s;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.citas {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height:16vh;
  margin-bottom: 1vh;
}


.btn {
  background-color: #f1f1f1;
  color: black;
  font-size: 100% ;
  /*padding: 1.3% 2.3%;*/
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 5%;
  text-align: center;
  transition-duration: 0.4s;
  }

.btn > invi {
    color:#f1f1f1;
  }

.estable {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 60%;
}

.chico {
  display:grid;
  margin-left: 2%;
  /*width:100%;*/
  /*padding: 0;*/
  }

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.btnpoderoso:hover {
  background-color: black;
  color: white;
  }

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}


.container {
  max-height: 100%;
  /*height: 100%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  margin-right: auto;
  margin-left: auto;*/
}

.header {
  flex: 0 0 auto;
  width: 100%;
  padding: 2em 0em 4em 2em;
  }

.footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  }


.cajatrabajo {
  display: flex;
  justify-content: center;
  /*height: 14vh;*/
  }

.cajatrabajo > img {
  max-width: 14vh;
  max-height: 14vh;
  }

.row {
  /*max-height: 5%;*/
  display:flex;
  flex-wrap: nowrap;
  /*margin-top:
  margin-right:
  margin-left: */
}

.rowestructural {

  height: 28vh;
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.rowjustificada {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  /*margin-top:
  margin-right:
  margin-left: */
}

.botoneratrabajo {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

.botoneratrabajo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
}

.trabajosydias {
  justify-content: flex-end;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
  max-height: 100%;
  vertical-align: middle;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  height: 100%;
  }

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
  height: 100%;
}

.citasybotonera {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  max-height: 100%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@keyframes transicion1 {
  from {opacity:0;}
  to {opacity:1;}
  }

@keyframes transicion2 {
  0%   {opacity:0;}
  25%  {opacity:0;}
  50%  {opacity:1;}
  }

@keyframes transicion3 {
  0%   {opacity:0;}
  25%  {opacity:0;}
  50%  {opacity:0;}
  75%  {opacity:1;}
  }

@keyframes transicion4 {
  0%   {opacity:0.4;}
  100%  {opacity:0.8;}
  }

@keyframes transicion5 {
  0%   {opacity:0.8; top:-10%;color:red;}
  100%  {opacity:0.1;top:-35%;color:black;}
  }

@keyframes onirico {

  0%   {transform: scale(1, 1);}
  100% {transform: scale(1.05, 1.05);}
  }

@keyframes derojoanegro {
  0% {color:#40CFFF; background-color: black; font-size: 120%;}
  75% {color:#40CFFF;}
  100 {color:black; background-color: #f1f1f1; font-size: 100%;}
  }



.atenti1 {
  animation-name: derojoanegro;
  animation-duration: 0.5s;
  }

.aparecer1 {
  animation-name: transicion1;
  animation-duration: 4s;
  }

.aparecer2 {
  animation-name: transicion2;
  animation-duration: 4s;
  }

.aparecer3 {
  animation-name: transicion2;
  animation-duration: 5.5s;
  }

.aparecer4 {
  animation-name: transicion2;
  animation-duration: 6s;
  }

.aparecer5 {
  animation-name: transicion2;
  animation-duration: 14s;
  }

.onirico {
  animation-name: onirico, transicion4;
  animation-duration: 1s, 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /*float: right;*/
  }

.latente {
  animation-name: transicion4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.evanescente {
  animation-name: transicion5;
  width: 150%;
  animation-duration: 0.5s;
}

/**,
*::before,
*::after {
  box-sizing: border-box;
}*/


/*body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/
